<mat-drawer-container fullscreen>
  <mat-drawer #drawer class="menu-sidenav" 
              [mode]="(width >= 1024) ? 'side' : 'over'" 
              [opened]="(width >= 1024)">
    <mat-nav-list>
      <mat-list-item (click)="switchRouter('/airdrop')">Airdrop</mat-list-item>
      <mat-list-item>Swap</mat-list-item>
      <mat-list-item>Name Service</mat-list-item>
    </mat-nav-list>
  </mat-drawer>

  <header>
    <mat-toolbar id="toolbar" color="primary">
    @if (width < 1024) {
      <button mat-icon-button (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>     
    }
      <a (click)="switchRouter('/')">{{ title }}</a>
      <span class="spacer"></span>
    @if (currentWallet == undefined) {
      <button mat-raised-button (click)="openWalletBottomSheet()">
        <mat-icon>account_balance_wallet</mat-icon>
          Connect Wallet
      </button>
    } @else {
      {{ getBalance | async | currency: 'SOL' }}
      <button mat-button [matMenuTriggerFor]="menu">
        {{ getAccount | async }}
      </button>
      <mat-menu #menu="matMenu">
        <mat-form-field>
          <mat-label>Switch network</mat-label>
          <mat-select  [(value)]="selectedNetwork">
          @for (network of networks; track network) {
            <mat-option [value]="network.value">{{ network.key }}</mat-option>
          }
          </mat-select>
        @if (connection == undefined) {
          <mat-icon matSuffix>cloud_off</mat-icon>
        } @else {
          <mat-icon matSuffix>cloud_done</mat-icon>
        }
        </mat-form-field>
        <button mat-menu-item (click)="openWalletBottomSheet()">
          <mat-icon>account_balance_wallet</mat-icon>
          <span>Switch wallet</span>
        </button>
        <button mat-menu-item (click)="disconnect()">
          <mat-icon>logout</mat-icon>
          <span>Logout</span>
        </button>
      </mat-menu>
    }
    </mat-toolbar>
  </header>

  <router-outlet></router-outlet>
</mat-drawer-container>
