<div class="airdrop-container">
  <mat-card class="airdrop-card">
    <mat-card-header>
      <mat-card-title>Solana Airdrop</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form class="airdrop-form">
        <mat-slider [min]="min" [max]="max" [step]="step" discrete
                    [displayWith]="formatLabel">
          <input matSliderThumb [(value)]="lamports">
        </mat-slider>
      </form>
      <mat-divider></mat-divider>
    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-raised-button 
              [disabled]="currentWallet == undefined"
              (click)="requestAirdrop(lamports)">
        Request {{ formatLabel(lamports) }}SOL
      </button>
    </mat-card-actions>
    <mat-card-footer>
    @if (loading) {
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    }
    </mat-card-footer>
  </mat-card>

  @if (errorMsg) {
    <p class="error-msg">{{ errorMsg }}</p>
  }
</div>
